{
  'extends': 'airbnb-base',
  'env': {
    'browser': true,
    'es6': true,
  },
  'rules': {
    'no-underscore-dangle': [2, {
      'allowAfterThis': true,
    }],
    'prefer-template': 0,
  }
}
